<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>HOME</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Links -->
    <link rel="stylesheet" href="css/camera.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/google-map.css">


    <!--JS-->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/rd-smoothscroll.min.js"></script>


    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>
        <div class="container top-sect">
            <div class="row">
                <div class="col-md-6 col-sm-12" >
                    <a href="/"><img class="width_img" src="img/Shvidko_logo.png" alt="Курьерская служба"></a>
                    <a class="search-form_toggle" href="#"></a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="help-box text-right">
                        <p>Контакты</p>
                        <div class="row"><a href="callto:#">044-229-66-35 (34)</a></div>
                        <!--<div class="row"><a href="skype:#">044-229-66-35 (34)</a></div>-->
                        <!--<div class="row"><a href="callto:#">044-229-66-35 (34)</a></div>-->

                        <small><span>Время работы:</span>  08.00 - 18.30 ПН-ПТ; &nbsp;10.00 - 13.00 СБ</small>
                    </div>
                </div>
            </div>
        </div>


        <div id="stuck_container" class="stuck_container">
            <div class="container">
                <nav class="navbar navbar-default navbar-static-top pull-left">

                    <div class="">
                        <ul class="nav navbar-nav sf-menu" data-type="navbar">
                            <li class="active">
                                <a href="/"><?=__('about.menu','О нас');?></a>
                            </li>
                            <li>
                                <a href="index-1.html">ABOUT</a>
                            </li>
                            <li class="dropdown">
                                <a href="#tarifs"><?=__('tariffs.menu','Тарифы');?><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Lorem ipsum</a>
                                    </li>
                                    <li>
                                        <a href="#">Dolor sit amet  </a>
                                    </li>
                                    <li>
                                        <a href="#">Dolor sit amet  </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="index-3.html">PROJECTS</a>
                            </li>

                            <li>
                                <a href="index-4.html">CONTACTS</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <form class="search-form" action="/search" method="get" accept-charset="utf-8">
                    <label class="search-form_label">
                        <input class="search-form_input" type="text" name="s" autocomplete="off" placeholder=""/>
                        <span class="search-form_liveout"></span>
                    </label>
                    <button class="search-form_submit fa-search" type="submit"></button>
                </form>
            </div>
        </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <?=$this->data['content']?>
    <!--========================================================
                            FOOTER
  =========================================================-->
    <footer class="top-border">

        <div class="map">
            <div id="google-map" class="map_model" data-zoom="11"></div>
            <ul class="map_locations">
                <li data-x="-73.9874068" data-y="40.643180" data-basic="images/gmap_marker.png" data-active="images/gmap_marker_active.png">
                    <div class="location">
                        <h3 class="txt-clr1">
                            BUSINESS
                            <small>
                                COMPANY
                            </small>
                        </h3>
                        <address>
                            <dl>
                                <dt>Free phone: </dt>
                                <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                            </dl>
                            <dl>
                                <dt>Address: </dt>
                                <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                            </dl>
                            <dl>
                                <dt>Hours: </dt>
                                <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                            </dl>
                            <dl>
                                <dt> E-mail: </dt>
                                <dd><a href="mailto:#">info@demolink.org</a></dd>
                            </dl>
                        </address>

                    </div>
                </li>
                <li data-x="-74.100000" data-y="40.643180" data-basic="images/gmap_marker2.png" data-active="images/gmap_marker2_active.png">
                    <div class="location">
                        <h3 class="txt-clr1">
                            flooring
                            <small>
                                RETAILER
                            </small>
                        </h3>
                        <address>
                            <dl>
                                <dt>Free phone: </dt>
                                <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                            </dl>
                            <dl>
                                <dt>Address: </dt>
                                <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                            </dl>
                            <dl>
                                <dt>Hours: </dt>
                                <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                            </dl>
                            <dl>
                                <dt> E-mail: </dt>
                                <dd><a href="mailto:#">info@demolink.org</a></dd>
                            </dl>
                        </address>

                    </div>
                </li>
                <li data-x="-73.8854068" data-y="40.693180" data-basic="images/gmap_marker3.png" data-active="images/gmap_marker3_active.png">
                    <div class="location">
                        <h3 class="txt-clr1">
                            flooring
                            <small>
                                RETAILER
                            </small>
                        </h3>
                        <address>
                            <dl>
                                <dt>Free phone: </dt>
                                <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                            </dl>
                            <dl>
                                <dt>Address: </dt>
                                <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                            </dl>
                            <dl>
                                <dt>Hours: </dt>
                                <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                            </dl>
                            <dl>
                                <dt> E-mail: </dt>
                                <dd><a href="mailto:#">info@demolink.org</a></dd>
                            </dl>
                        </address>

                    </div>
                </li>
                <li data-x="-73.7874068" data-y="40.613180" data-basic="images/gmap_marker4.png" data-active="images/gmap_marker4_active.png">
                    <div class="location">
                        <h3 class="txt-clr1">
                            flooring
                            <small>
                                RETAILER
                            </small>
                        </h3>
                        <address>
                            <dl>
                                <dt>Free phone: </dt>
                                <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                            </dl>
                            <dl>
                                <dt>Address: </dt>
                                <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                            </dl>
                            <dl>
                                <dt>Hours: </dt>
                                <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                            </dl>
                            <dl>
                                <dt> E-mail: </dt>
                                <dd><a href="mailto:#">info@demolink.org</a></dd>
                            </dl>
                        </address>

                    </div>
                </li>
                <li data-x="-74.200000" data-y="40.683180" data-basic="images/gmap_marker5.png" data-active="images/gmap_marker5_active.png">
                    <div class="location">
                        <h3 class="txt-clr1">
                            flooring
                            <small>
                                RETAILER
                            </small>
                        </h3>
                        <address>
                            <dl>
                                <dt>Free phone: </dt>
                                <dd class="phone"><a href="callto:#"> 800-2345-6789</a></dd>
                            </dl>
                            <dl>
                                <dt>Address: </dt>
                                <dd> 4578 Marmora Road,Glasgow D04 89GR</dd>
                            </dl>
                            <dl>
                                <dt>Hours: </dt>
                                <dd> 6am-4pm PST M-Th; &nbsp;&nbsp;  6am-3pm PST Fri</dd>
                            </dl>
                            <dl>
                                <dt> E-mail: </dt>
                                <dd><a href="mailto:#">info@demolink.org</a></dd>
                            </dl>
                        </address>

                    </div>
                </li>
            </ul>
        </div>

        <section class="well1">
            <div class="container">
                <p class="rights">
                    Business Company  &#169; <span id="copyright-year"></span>
                    <a href="index-5.html">Privacy Policy</a>
                    More Business Website Templates at <a rel="nofollow" href="http://www.templatemonster.com/category/business-web-templates/" target="_blank">TemplateMonster.com</a>
                </p>
            </div>
        </section>
    </footer>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/tm-scripts.js"></script>
<!-- </script> -->


</body>