<!--========================================================
                              CONTENT
    =========================================================-->
    <section id="content" class="content well">
        <div class="container">
            <h2 class="offs5">Результаты поиска</h2>
            <div id="search-results"></div>
        </div>
    </section>

    <!--========================================================
                              FOOTER
    =========================================================-->
 